ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
}

.location {
  margin: 0;
  color: brown;
  padding-top: 10px;
  padding-bottom: 10px;
}

#emoji {
  font-size: 60px;
  position: relative;
}
#greeting {
  padding: 0;
  margin-bottom: 0;
}

#card-entire {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}
#wrapper-app {
  margin: 30px auto;
  max-width: 600px;
}
